:root {
  --color-primary: #80827e;
}

.header {
  font-size: 14px;
  padding: 0px 40px;
  height: 40px;
  background-color: #f6f6f6;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.header--left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-basis: 33%;
}
.header--left__icon {
  margin: 0px 6px;
  color: var(--color-primary);
  cursor: pointer;
}
.header--center {
  text-align: center;
  line-height: 20px;
  color: var(--color-primary);
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
}
.header--right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-basis: 33%;
  color: var(--color-primary);
}
.header--right__wishlist, .header--right__login:hover {
  color: #2f3327;
  cursor: pointer;
}
.header--icon__right {
  margin: 0px 10px;
}

.navbar {
  padding: 0px 40px;
  display: flex;
  justify-content: center;
}
.navbar--icon {
  display: flex;
  justify-content: center;
  margin-top: 54px;
  margin-bottom: 26px;
  width: 100%;
  height: 95px;
  color: var(--color-primary);
}
.navbar--menu {
  color: #393d31;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  cursor: pointer;
  font-weight: 600;
  margin-bottom: 40px;
  margin-top: 10px;
  font-size: 18px;
}
.navbar--list {
  margin: 0 24px;
}

.slider {
  width: 100%;
  height: 800px;
}
.slider--content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

html {
  position: relative;
  height: 100%;
}

*::-moz-selection {
  color: #fff;
  background: #93a286;
}

*::selection {
  color: #fff;
  background: #93a286;
}

body {
  font-family: "Montserrat,sans-serif";
  margin: 0;
  padding: 0;
  position: relative;
  height: 100%;
}

.main--content {
  margin: 0 120px;
}
.main--content .wrap {
  max-width: 100%;
}
.main--content .wrap--title {
  margin: 17px 0;
  font-weight: 600;
  font-size: 23px;
  line-height: 29px;
  color: #2f3327;
  display: flex;
  justify-content: space-between;
}
.main--content .wrap--title__paragraph {
  font-weight: 600;
}
.main--content .wrap--title__arrow {
  color: #929d86;
  margin-right: 14px;
}
.main--content .wrap--title__arrow i {
  cursor: pointer;
}
.main--content .wrap--title__arrow .fa-arrow-left-long {
  margin-right: 14px;
}
.main--content .swiper {
  width: 100%;
  height: 100%;
}
.main--content .swiper.wrapper {
  margin: 0 auto;
}
.main--content .swiper-slide {
  background: #fff;
  cursor: pointer;
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  flex-direction: column;
}
.main--content .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.main--content .swiper-slide-tag {
  position: absolute;
  top: 0;
  left: 50%;
  padding: 6px 10px 7px;
  font-size: 13px;
  line-height: 1;
  color: #68745c;
  background-color: #fff;
  font-family: Montserrat, sans-serif;
  font-weight: 600;
  text-transform: capitalize;
  z-index: 5;
  transform: translateX(-50%);
}
.main--content .swiper-product {
  background-color: transparent;
  padding: 24px 0 30px;
  display: flex;
  justify-content: space-between;
}
.main--content .swiper-product-price {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  font-weight: 600;
}
.main--content .swiper-product-price-discount {
  margin-right: 10px;
  text-decoration: line-through;
}
.main--content .swiper-product-categories h5 a {
  font-size: 20px;
  text-decoration: none;
  color: #35392d;
  font-family: "Montserrat,sans-serif";
  font-weight: 600;
}
.main--content .swiper-product-categories a {
  vertical-align: top;
  font-size: 16px;
  color: #bfc0be;
  font-family: "Poppins,sans-serif";
  text-decoration: none;
}
.main--content .swiper-product-categories a:hover {
  color: #2f3327;
}/*# sourceMappingURL=style.css.map */