$font-content-special: 'Quentin',
sans-serif;
$responsive: (md: '768px',
    xl: '1024px',
    xxl: '1200px'
);

$colors: (background-body: #fafafa,
    color-button: #68745c,
    color-primary: #80827e,
    btn-color: #FFFFFF,
    text-color-slide:#FFFFFF,


)