.Footer--container {
    padding: 111px 0 116px;
    background-color: #fff;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;

    &__wrap {

        padding: 10px 40px;


        .Footer--top {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 10px;

            & p {
                color: color(color-primary);

            }

            &__item--1 {
                padding-right: 25%;
            }

            & a {
                text-decoration: none;
                color: color(color-primary);
                line-height: 40px;
            }
        }

    }
}